# Private keys
*.pem

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr


/ai-service/.idea/
/ai-service/venv/
# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Coverage
coverage/

# Environment
.env
.env.local

# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/


ai-service\app\data\raw\job_postings.csv
