server:
  port: 8084

spring:
  application:
    name: profile-screen
  datasource:
    url: jdbc:postgresql://localhost:5432/recruitify
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

app:
  jwt:
    secret: your-256-bit-secret-key-here-must-be-at-least-32-characters
