server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/auth/**

        - id: job-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/jobs/**

        - id: api-docs-auth
          uri: http://localhost:8081
          predicates:
            - Path=/api-docs/auth/**
          filters:
            - RewritePath=/api-docs/auth/(?<remaining>.*), /${remaining}

        - id: api-docs-job
          uri: http://localhost:8082
          predicates:
            - Path=/api-docs/job/**
          filters:
            - RewritePath=/api-docs/job/(?<remaining>.*), /${remaining}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"