# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.tfstate.lock.info

# Biến nhạy cảm
terraform.tfvars
*.auto.tfvars

# SSH key sinh tự động
*.pem

# Source backend đóng gói tạm khi deploy
web-api.tgz
