server:
  port: 8080

spring:
  application:
    name: recruitify-api
  datasource:
    url: jdbc:postgresql://localhost:5432/recruitify_db
    username: postgres
    password: 650125231
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:  
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
